table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
}

th {
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  background-color: rgba(255, 0, 255, 0.252);
}
/* 
tbody tr:first-child {
  background-color: rgba(255, 0, 0, 0.252);
}

tbody tr:last-child {
  background-color: rgba(0, 255, 0, 0.252);
} */

tbody tr:nth-child(odd) {
  background-color: rgba(255, 0, 0, 0.252);
}

tbody tr:nth-child(3n+1) {
  background-color: rgba(1, 212, 245, 0.252);
}

tbody tr:nth-child(3n+2) {
  background-color: rgba(15, 15, 18, 0.57);
}

tbody tr:nth-child(3n+3) {
  background-color: rgba(0, 255, 255, 0.252);
}